* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    padding: 0 3rem;
    background: rgb(196, 196, 196);
}

.search input {
    width: 100%;
    border-radius: 10px;
    padding: .5rem;
    outline: none;
}

.logo {
    text-align: center;
}

.search,
.login {
    text-align: right;
    padding: 1rem 0;
}

.main-menu {
    padding: 1rem 2rem;
    text-align: center;
}

.main-header a,
.main-menu a {
    color: darkslateblue;
    text-decoration: none;
}

.main-menu a:not(:last-child):after {
    content: " |";
}

.carousel {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.articles {
    margin-bottom: 5rem;
}

.articles article {
    margin: 1rem;
    max-height: 200px;
    line-height: 1.5rem;
    overflow: hidden;
    word-wrap: break-word;
}

.articles article > h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: .5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: lightslategray;
    color: mintcream;
}

@media screen and (min-width: 768px) {
    .main-header {
        display: grid;
        grid-template-columns: 70% auto auto;
        align-items: center;
    }

    .logo {
        text-align: left;
    }

    .search input {
        width: initial;
    }

    .main-menu {
        text-align: left;
    }

    .carousel {
        width: 80%;
    }

    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .articles article {
        width: 400px;
        margin: 1rem;
    }
}