.icon {
    display: inline-block;
    background-image: url('../img/sprite-action-grey600.png');
}

.icon-menu-user {
    width: 25px;
    height: 25px;
    background-position: 442px 442px;
}

.icon-search {
    width: 25px;
    height: 25px;
    background-position: 204px 136px;
}