* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link { color: black; }
a:visited { color: black; }
a:hover { color: black; }
a:active { color: black; }

html,
body {
    padding: 0 !important;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: ghostwhite;
}

.main-header {
    padding: 0 3rem;
    background: rgb(232, 232, 255);
}

.main-header .login {
    margin: 1rem 0;
}

.main-menu {
    padding: 1rem 2rem;
    line-height: 1.5rem;
}

.main-header a,
.main-menu a {
    color: darkslateblue;
    text-decoration: none;
    transition: color .25s;
}

.main-menu a:hover {
    color: rgb(61, 136, 139);
}

.main-menu a:not(:last-child):after {
    content: " |";
}

.carousel {
    width: 100%;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.carousel img {
    max-width: 100%;
}

.articles {
    margin: 7.5rem 0;
}

.articles header {
    border-bottom: 1px solid rgb(232, 232, 255);
}

.articles article {
    margin: 1rem;
    line-height: 1.5rem;
    overflow: hidden;
    transition: background-color .25s;
}

.articles article:hover {
    background-color: rgba(255, 255, 255, 1);
}

.articles article a > h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articles article a {
    text-decoration: none;
}

.articles article img {
    max-width: 100%;
}

.footer {
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: lightslategray;
    color: mintcream;
}

.footer p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .articles article {
        width: 300px;
        max-height: 400px;
        margin: 1rem;
    }
}